body{
	font-family: Lato, "helvetica Neue", Helvetica,
	Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #2C3E50;
}

nav{
	background-color: #18BC9C;
	color: #fff;
}
.highlight{
	color: yellow;
}
.navbar-brand{
	color: #fff;
}
.navbar-brand:hover{
	color: #2C3E50;
}

li a{
	color: #fff;
}

li, a:hover{
	color: #2C3E50;
}

.title-forum {
	margin-top: 6rem;
}

.sidebar-line {
	margin-top: 2rem;
}

.search-thread {
	margin-top: 1rem;
}

.btn-success {
	background-color: #18BC9C;
	width: 100%;
	height: 3rem;
	color: white;
	margin-top: 2px;
	border-color: #fff;
}
.btn-success:hover{
	background-color: #16A488;
	border-color: #fff;
}

.category {
	margin-top: 4rem;
}

.item {
	background-color: #2C3E50;
}

.card {
	margin-top: 1rem;
}

<!-- add margin navbar -->
.top-nav {
	background-color: #18BC9C;
	color: white;
}


