.title-forum {
	margin-top: 6rem;
}

.sidebar-line {
	margin-top: 2rem;
}

.search-thread {
	margin-top: 1rem;
}

.bt {
	background-color: #18BC9C;
	width: 255px;
	color: white;
	margin-top: 2px;
	border-color: #18BC9C;
}

.category {
	margin-top: 4rem;
}

.item {
	background-color: #2C3E50;
}

.card {
	margin-top: 1rem;
}

<!-- add margin navbar -->
.top-nav {
	background-color: #18BC9C;
	color: white;
}


